<mat-accordion multi="true" hideToggle>
<div class="exp-cont">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamental
        </mat-panel-title>
        <mat-panel-description>
            Duration:x Hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is a pannel Content </p>
    <mat-action-row>
        <button mat-raised-button>Enroll</button>
    </mat-action-row>
    </mat-expansion-panel>
</div>
<div class="exp-cont">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamental
        </mat-panel-title>
        <mat-panel-description>
            Duration:x Hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is a pannel Content </p>
    <mat-action-row>
        <button mat-raised-button>Enroll</button>
    </mat-action-row>
    </mat-expansion-panel>
</div>
</mat-accordion>